.cover__subtitle {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  margin-top: 32px;
  z-index: 1;
  color: #FFFFFF;
  max-width: 360px;
  text-align: center;
}

@media screen and (max-width: 520px) {
  .cover__subtitle {
    font-size: 16px;
    line-height: 18px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: 288px;
  }
}