.lead__title {
  max-width: 720px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  margin: 0 auto;
  margin-top: 56px;
}

@media screen and (max-width: 740px) {
  .lead__title {
    max-width: 500px;
    font-size: 70px;
    line-height: 74px;
  }
}


@media screen and (max-width: 540px) {
  .lead__title {
    max-width: 350px;
    font-size: 46px;
    line-height: 50px;
  }
}

@media screen and (max-width: 380px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}