.page__places {
  max-width: 1280px;
  margin: auto;
  margin-top: 92px;
  padding-left: 148px;
  padding-right: 148px;
}

@media screen and (max-width: 1279px) {
  .page__places {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media screen and (max-width: 1024px) {
  .page__places {
    max-width: 1024px;
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media screen and (max-width: 768px) {
  .page__places {
    max-width: 768px;
    margin-top: 88px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 320px) {
  .page__places {
    max-width: 320px;
    margin-top: 64px;
    padding-left: 0;
    padding-right: 0;
  }
}