.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  gap: 48px 40px;
  padding-top: 80px;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 440px 1fr;
    gap: 48px 32px;
  }
}

@media screen and (max-width: 950px) {
  .place {
    grid-template-columns: 320px 1fr;
    gap: 48px 28px;
    padding-top: 73px;
  }
}

@media screen and (max-width: 630px) {
  .place {
    grid-template-columns: 1fr;
    gap: 32px;
    padding-top: 50px;
  }
}

.place:first-of-type {
  padding-top: 0;
}