.page__footer {
    max-width: 1184px;
    margin: auto;
    margin-top: 92px;
   }
   
   @media screen and (max-width: 1024px) {
     .page__footer {
       max-width: 928px;
     }
   }
   
   @media screen and (max-width: 768px) {
   .page__footer {
     max-width: 720px;
     margin-top: 88px;
     }
   }
   
   @media screen and (max-width: 320px) {
     .page__footer {
       max-width: 288px;
       margin-top: 64px;
     }
   }